/*body {*/
/*  !*max-width: 1000px;*!*/
/*  background: #f2f2f2;*/
/*  border: 1px solid #313131;*/
/*  margin: 50px auto 0 auto;*/
/*  display: block;*/
/*}*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  clear: both;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 20px solid #fff;
  background: #fff;
}
table tr.head {
  border-bottom: 1px solid #cacaca;
}
.Table .Table-product {
  text-align: left;
  width: 550px;
}
.Table td {
  height: 45px;
}

.Table td,
.Table th {
  text-align: left;
  font-weight: normal;
  padding: 6px 4px;
}
.Table .Table-quantity {
  text-align: center;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}
.Table td.dt,
.Table th.dt {
  text-align: left;
  width: 60px;
}
.Table .Table-price {
  text-align: right;
  white-space: nowrap;
  padding-left: 15px;
}
.Table .Table-price.dt,
.Table .Table-quantity {
  opacity: 0.52;
}
.h-color-mid {
  color: #777;
}
.h-color-error,
.h-color-alert {
  color: #c3332e;
}
.h-color-offer {
  color: #62a0ca;
}
span.Badge {
  color: #e4757e;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 10px;
}

table.Table .text_center {
  text-align: center;
}
table.Table .text_left {
  text-align: left;
}
table.Table .text_right {
  text-align: right;
}
table.Table .quantity_title {
  opacity: 1;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-5 {
  width: 230px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
          -1px -1px 5px 0px #fff,
          7px 7px 20px 0px #0003,
          4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* 11 */
.btn-11 {
  border: none;
  background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
  color: #fff;
  overflow: hidden;
}
.btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
  -4px -4px 6px 0 rgba(116, 125, 136, .2),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
/* 14 */
.btn-14 {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}
